<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiangtao.cos.dao.LogMapper">
  <resultMap id="BaseResultMap" type="com.jiangtao.cos.pojo.Log">
    <id column="staff_id" jdbcType="CHAR" property="staffId" />
    <id column="log_date" jdbcType="TIMESTAMP" property="logDate" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="tg_table" jdbcType="VARCHAR" property="tgTable" />
    <result column="category" jdbcType="TINYINT" property="category" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    staff_id, log_date, content, tg_table, category
  </sql>
  <select id="selectByExample" parameterType="com.jiangtao.cos.pojo.LogCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.jiangtao.cos.pojo.LogKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log
    where staff_id = #{staffId,jdbcType=CHAR}
      and log_date = #{logDate,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.jiangtao.cos.pojo.LogKey">
    delete from log
    where staff_id = #{staffId,jdbcType=CHAR}
      and log_date = #{logDate,jdbcType=TIMESTAMP}
  </delete>
  <delete id="deleteByExample" parameterType="com.jiangtao.cos.pojo.LogCriteria">
    delete from log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jiangtao.cos.pojo.Log">
    insert into log (staff_id, log_date, content, 
      tg_table, category)
    values (#{staffId,jdbcType=CHAR}, #{logDate,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, 
      #{tgTable,jdbcType=VARCHAR}, #{category,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jiangtao.cos.pojo.Log">
    insert into log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="logDate != null">
        log_date,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="tgTable != null">
        tg_table,
      </if>
      <if test="category != null">
        category,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        #{staffId,jdbcType=CHAR},
      </if>
      <if test="logDate != null">
        #{logDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="tgTable != null">
        #{tgTable,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jiangtao.cos.pojo.LogCriteria" resultType="java.lang.Long">
    select count(*) from log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update log
    <set>
      <if test="record.staffId != null">
        staff_id = #{record.staffId,jdbcType=CHAR},
      </if>
      <if test="record.logDate != null">
        log_date = #{record.logDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.tgTable != null">
        tg_table = #{record.tgTable,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update log
    set staff_id = #{record.staffId,jdbcType=CHAR},
      log_date = #{record.logDate,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=VARCHAR},
      tg_table = #{record.tgTable,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiangtao.cos.pojo.Log">
    update log
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="tgTable != null">
        tg_table = #{tgTable,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=TINYINT},
      </if>
    </set>
    where staff_id = #{staffId,jdbcType=CHAR}
      and log_date = #{logDate,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiangtao.cos.pojo.Log">
    update log
    set content = #{content,jdbcType=VARCHAR},
      tg_table = #{tgTable,jdbcType=VARCHAR},
      category = #{category,jdbcType=TINYINT}
    where staff_id = #{staffId,jdbcType=CHAR}
      and log_date = #{logDate,jdbcType=TIMESTAMP}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.jiangtao.cos.pojo.LogCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <cache />
</mapper>